<div *ngIf="!isMobile" class="home-container img-background">

  <div class="press-kit desktop">
    PRESS KIT
  </div>

  <div *ngIf="!showVideo && titleState === 'visible'" class="play-button-container" (click)="showVideo = true">
    <div class="play-button">
      <svg viewBox="0 0 100 100" class="icon">
        <polygon points="35,25 75,50 35,75" fill="white" />
      </svg>
    </div>
  </div>

  <div *ngIf="showVideo" class="desktop-video-container">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/1ztWJrouT5M?si=pgnKom7kr__2g_Kd" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </div>

  <div class="img-background-container">
    <img class="layer layer-sky" [src]="'assets/images/home-clouds0.png'"/>
    <div class="layer layer-clouds clouds-container">
      <div class="clouds"></div>
    </div>
    <img class="layer layer-sky" [@moveImageSky]="imageState" [src]="'assets/images/bg_5_0004_layer_1.png'"/>
    <img class="layer layer-tree" [@moveImageTree]="imageState" [src]="'assets/images/01.png'"/>

    <div class="shine-effect">
      <img class="layer layer-title" [@fadeInWithDelay]="titleState"  [src]="'assets/images/wh-title2.png'"/>

      <div class="actions">
        <div class="action">
          <button class="steam-button">
            <span class="text">Wishlist on </span>
            <span class="steam">STEAM</span>
          </button>
        </div>

        <div class="action">
          <button class="kickstarter-button">
            <span class="kick-text">KICK</span><span class="starter-text">STARTER</span>
          </button>
        </div>
      </div>
    </div>

  </div>

  <div class="social-icons">
    <!--<img (click)="openLink('https://x.com/RoazhonGame')" class="social-link-img" src="./assets/images/socialmedia/twitter.png" />
    <img (click)="openLink('https://www.instagram.com/roazhongame/')" class="social-link-img" src="./assets/images/socialmedia/instagram.png" />
    <img (click)="openLink('https://www.facebook.com/profile.php?id=61553399873161')" class="social-link-img" src="./assets/images/socialmedia/fb.png" />
    <img (click)="openLink('https://www.youtube.com/@roazhongame')" class="social-link-img" src="./assets/images/socialmedia/youtube.png" />-->
    <img (click)="openLink('https://discord.gg/EW8FhRYvjw')" class="social-link-img" src="./assets/images/discord.png" />
  </div>

  <!--<div class="version">
    0.0.1
  </div>-->

</div>

<!--<div class="mobile-container" *ngIf="isMobile">
  <img class="mobile-title" [src]="'assets/images/wh-title2.png'"/>
  <img class="mobile-bg" [src]="'assets/images/bg.png'"/>

  <div class="mobile-video-container">
    <iframe src="https://www.youtube.com/embed/1ztWJrouT5M?si=EzRk2IUJ1lxha1w5&amp;controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </div>

  <div class="actions-mobile">
    <div class="action">
      <button class="steam-button">
        <span class="text">Wishlist on </span>
        <span class="steam">STEAM</span>
      </button>
    </div>

    <div class="action">
      <button class="kickstarter-button">
        <span class="kick-text">KICK</span><span class="starter-text">STARTER</span>
      </button>
    </div>

  </div>

  <img (click)="openLink('https://discord.gg/EW8FhRYvjw')" class="social-link-img" src="./assets/images/discord.png" />

</div>-->

<div class="mobile-container" *ngIf="isMobile">

  <img class="mobile-bg" [src]="'assets/images/bg.png'"/>

  <div class="mobile-content-container">

    <img class="mobile-title" [src]="'assets/images/wh-title2.png'"/>

    <div class="mobile-video-container">
      <iframe src="https://www.youtube.com/embed/1ztWJrouT5M?si=pgnKom7kr__2g_Kd" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>

    <div class="actions-mobile">
      <div class="action">
        <button class="steam-button">
          <span class="text">Wishlist on </span>
          <span class="steam">STEAM</span>
        </button>
      </div>

      <div class="action">
        <button class="kickstarter-button">
          <span class="kick-text">KICK</span><span class="starter-text">STARTER</span>
        </button>
      </div>

      <div class="press-kit">
        PRESS KIT
      </div>

      <img (click)="openLink('https://discord.gg/EW8FhRYvjw')" class="social-link-img" src="./assets/images/discord.png" />

    </div>

  </div>

</div>

